@model List<LibraryManagement.ViewModels.CustomerViewModel>
@using System.Security.Claims;

@{
    Layout = "_Layout";
    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<h1><i data-lucide="users"></i> Customer List</h1>

<div class="markdown-table-container">
    <table class="markdown-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Borrowed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                bool isCurrentUser = customer.CustomerId == currentUserId;

                <tr>
                    <td style="word-break: break-all;">@customer.CustomerId</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@customer.CustomerId" class="btn btn-blue">
                            @customer.BorrowedBooks
                        </a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@customer.CustomerId" class="btn btn-warning">
                            <i data-lucide="@(isCurrentUser ? "book-minus" : "eye")"></i> @(isCurrentUser ? "Return Books" : "View Books")
                        </a>
                        @if (isCurrentUser)
                        {
                            <a asp-action="Edit" 
                                asp-route-id="@customer.CustomerId" 
                                asp-route-returnUrl="@Url.Action("Index", "Customer")"
                                class="btn btn-blue"><i data-lucide="edit"></i> Edit</a>
                            <a asp-action="Delete" asp-route-id="@customer.CustomerId" class="btn btn-danger"><i data-lucide="trash-2"></i> Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>